.textOrverWrap{
    max-width: 100%;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}